<div class="header-2_container cwidth_container">
  <div class="header-2_wrapper cwidth_wrapper">
      <div class="header-2 clearfix cwidth">
          <div class="col-1-1">
              <div class="col">
                  <div class="header-2_content clearfix">
                      <div class="contact_info">
                          Kontak kami: (021) 7664009 - Email <a href="mailto:pusdiklat@setneg.go.id">pusdiklat@setneg.go.id</a>
                      </div>
                      <div class="header_right has_flags">
                          <div class="social_links">
                              <a href="" class="social_link icon-twitter"></a>
                              <a href="" class="social_link icon-facebook"></a>
                              <a href="" class="social_link icon-google-plus"></a>
                              <a href="" class="social_link icon-youtube"></a>
                          </div>
                          <div class="flags_wrapper">
                              <div class="flag_active clearfix">
                                  <img src="../../assets/images/flags/id.png" data-at2x="../../assets/images/flags/id@2x.png" alt="">
                                  <i class="icon-caret-down"></i>
                                  <div class="flag_list">
                                      <a href="" class="flag">
                                          <img src="../../assets/images/flags/england.png" data-at2x="../../asstes/images/flags/england@2x.png" alt="">
                                          English
                                      </a>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>				

<div class="header_main_wrapper" data-position="fixed">
  <div class="header-1_container cwidth_container">
      <div class="header-1_wrapper cwidth_wrapper">
          <div class="header-1 cwidth">
              <div class="col-3-5">
                  <div class="col">
                      <a href="#" class="logo" style="text-decoration:none;">
                          <h6>PUSDIKLAT KEMENTERIAN SEKRETARIAT NEGARA</h6>
                      </a>
                  </div>
              </div>
              <div class="col-2-5">
                  <div class="col">
                      <div class="navigation-1_container">
                          <div class="navigation-1_wrapper">
                              <div class="navigation-1 fallback clearfix">
                                  <div class="navigation-desktop">
                                      <div class="menu-navigation-container">
                                          <ul class="menu" id="menu-navigation-desktop">

                                              <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item">
                                                  <a class="top-menu-item-a" href=""><span>Beranda</span></a>
                                              </li>
                                              <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item">
                                                  <a class="top-menu-item-a" href=""><span>Profil</span></a>
                                              </li>
                                              <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item">
                                                  <a class="top-menu-item-a" href=""><span>Publikasi</span></a>
                                              </li>
                                              <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item">
                                                  <a class="top-menu-item-a" href=""><span>Berita</span></a>
                                              </li>
                                              <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item">
                                                  <a class="top-menu-item-a" href=""><span>Kontak</span></a>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="clear"></div>
                                  </div>
                                  <div class="search_top_button"></div>


                              </div>
                          </div>
                      </div>					<div class="navigation-2_container" style="display: none;">
                          <div class="navigation-2_wrapper">
                              <div class="navigation-2 clearfix">

                                  <div class="mobile_nav_button noselect"></div>


                                  <div class="navigation-mobile">
                                      <div class="cwidth_wrapper">
                                          <div class="menu-navigation-container">
                                              <ul class="menu" id="menu-navigation-mobile">
                                                  <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item top-menu-item-has-sub-menu"><a class="top-menu-item-a top-menu-item-has-sub-menu-a" href="home-6.html"><span>Home</span></a>
                                                      <ul class="sub-menu">
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="home-1.html">Home 1</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="home-2.html">Home 2</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="home-3.html">Home 3</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="home-4.html">Home 4</a></li>								
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="home-5.html">Home 5</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="home-6.html">Home 6</a></li>
                                                      </ul>
                                                  </li>
                                                  <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item top-menu-item-has-sub-menu"><a class="top-menu-item-a top-menu-item-has-sub-menu-a" href="page-about.html"><span>Pages</span></a>
                                                      <ul class="sub-menu">
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-about.html">About</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-team.html">Team</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-services.html">Services</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-contact.html">Contact</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-sidebar-right.html">Right Sidebar</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-sidebar-left.html">Left Sidebar</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page.html">Fullwidth</a></li>
                                                      </ul>
                                                  </li>
                                                  <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item top-menu-item-has-sub-menu"><a class="top-menu-item-a top-menu-item-has-sub-menu-a" href="taxonomy-portfolio-col-3.html"><span>Portfolio</span></a>
                                                      <ul class="sub-menu">
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="taxonomy-portfolio-col-2.html">2 Columns</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="taxonomy-portfolio-col-3.html">3 Columns</a></li>	
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="taxonomy-portfolio-col-4.html">4 Columns</a></li>								
                                                      </ul>
                                                  </li>
                                                  <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item top-menu-item-has-sub-menu"><a class="top-menu-item-a top-menu-item-has-sub-menu-a" href="page-about.html"><span>Features</span></a>
                                                      <ul class="sub-menu">
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-columns.html">Columns</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-shortcodes.html">Shortcodes</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-pricing.html">Pricing</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-faq.html">FAQ</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-sitemap.html">Sitemap</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="page-countdown.html">Countdown</a></li>
                                                          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="404.html">404</a></li>
                                                      </ul>
                                                  </li>
                                                  <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item"><a class="top-menu-item-a" href="category.html"><span>Blog</span></a>
                                                  </li>
                                                  <li class="menu-item menu-item-type-post_type menu-item-object-page top-menu-item"><a class="top-menu-item-a" href="page-contact.html"><span>Contact</span></a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="clear"></div></div>
                                  </div><!-- /navigation-mobile -->
                              </div>
                          </div>
                      </div>				</div>
              </div>
          </div>
      </div>
  </div>
  <div class="search_top_overlay">
      <div class="cwidth_wrapper">
          <form method="get" class="searchform clearfix">
              <button class="searchbutton">
                  <i class="search_top_overlay_button"></i>
              </button>
              <div class="search_top_close"></div>
              <p><input type="text" class="searchfield nooutline" name="s" autocomplete="off" placeholder="Search..."></p>
          </form>
      </div>
  </div>					
</div>