<div class="footer_container">

  <div class="footer-widgets_container cwidth_container">
      <div class="footer-widgets_wrapper cwidth_wrapper">
          <div class="footer-widgets cwidth">

              <div class="col-1-4">
                  <div class="col">
                      <div class="widget clearfix widget_contact">
                          <h3 class="widget_title">Contact Info</h3>
                          <div class="address"><strong>Address:</strong> 58911 Weinhaus, 85000 Viena, Austria </div>
                          <div class="phone"><strong>Telephones:</strong> +1 777 64-21-35</div>
                          <div class="email"><strong>E-mail:</strong> contacts@sentinel.com</div>
                      </div><!-- END "div.widget" -->
                  </div>
              </div>

              <div class="col-1-4">
                  <div class="col">
                      <div class="widget clearfix widget_recent_entries">
                          <h3 class="widget_title">Recent Posts</h3>
                          <ul>
                              <li>
                                  <a title="" href="">Omnis iste natus error sit.</a>
                                  <span class="post-date">April 11, 2013</span>
                              </li>
                              <li>
                                  <a title="" href="">Accusantium doloremque laudan.</a>
                                  <span class="post-date">April 11, 2013</span>
                              </li>
                          </ul>
                      </div><!-- END "div.widget" -->					
                  </div>
              </div>

              <div class="col-1-4">
                  <div class="col">
                      <div class="widget clearfix widget_newsletter">
                          <h3 class="widget_title">Newsletter</h3>
                          <div id="mc_signup">

                              <form id="mc_signup_form" action="#mc_signup" method="post">
                                  <input type="hidden" value="js" name="mc_submit_type" id="mc_submit_type"/>
                                  <input type="hidden" value="mc_submit_signup_form" name="mcsf_action"/>
                                  <input type="hidden" value="9eadabcd1b" name="_mc_submit_signup_form_nonce" id="_mc_submit_signup_form_nonce"/>		
                                  <div id="mc_subheader">Subscribe and stay up to date with the latest news from us.</div>
                                  <!-- /mc_subheader -->

                                  <div class="mc_form_inside">
                                      <div id="mc_message" class="updated"></div>
                                      <!-- /mc_message -->

                                      <div class="mc_merge_var">
                                          <label class="mc_var_label" for="mc_mv_EMAIL"></label>
                                          <input type="text" class="mc_input" id="mc_mv_EMAIL" name="mc_mv_EMAIL" value="" size="18">
                                      </div>
                                      <!-- /mc_merge_var -->

                                      <div class="mc_signup_submit">
                                          <input type="submit" class="button" value="Submit" id="mc_signup_submit" name="mc_signup_submit">
                                      </div>
                                      <!-- /mc_signup_submit -->

                                  </div><!-- /mc_form_inside -->
                              </form><!-- /mc_signup_form -->


                          </div>
                      </div><!-- END "div.widget" -->
                  </div>
              </div>

              <div class="col-1-4">
                  <div class="col">
                      <div class="widget clearfix widget_social">
                          <h3 class="widget_title">Follow Us</h3>
                          <div class="social_icons clearfix">
                              <a href="" class="social_icon zocial-twitter"></a>
                              <a href="" class="social_icon zocial-dribbble"></a>
                              <a href="" class="social_icon zocial-facebook"></a>
                              <a href="" class="social_icon zocial-googleplus"></a>
                              <a href="" class="social_icon zocial-rss"></a>
                              <a href="" class="social_icon zocial-linkedin"></a>
                          </div>
                      </div><!-- END "div.widget" -->
                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="footer-bottom_container cwidth_container">
      <div class="footer-bottom_wrapper cwidth_wrapper">
          <div class="footer-bottom cwidth">
              <div class="col-1-1">
                  <div class="col">
                      <div class="footer-bottom_content clearfix">
                          <a class="logo_footer" href="index.html">
                              <img src="../../assets/images/logo_footer.png" data-at2x="../../assets/images/logo_footer@2x.png" alt="">
                          </a>
                          <div class="footer-bottom_left">
                              © Copyright 2018 Pusdiklat Kementerian Sekretariat Negara. All Rights Reserved.
                          </div>
                          <div class="footer-bottom_right">
                              <div class="footer_links">
                                  <a href="page-faq.html">FAQ</a>
                                  <a href="page-sitemap.html">Peta Situs</a>
                                  <a href="page-contact.html">Kontak Kami</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>