<div class="top_content">
  <div class="slider-1_container">
      <div class="slider-1_wrapper">
          <div class="slider-1 revslider" style="background-color: #f8f8f8;">
              <ul>
                  <li data-transition="fade" data-slotamount="5" data-masterspeed="300">

                      <!-- THE MAIN BACKGROUND IMAGE IN THIS FIRST SLIDE -->
                      <img src="../../assets/photos/slider_1_bg.jpg" data-fullwidthcentering="on" alt="background">

                      <!-- THE CAPTIONS/LAYERS IN THIS SLIDE -->
                      <div class="caption medium-700-black lfr"
                           data-x="0"
                           data-y="128"
                           data-speed="300"
                           data-start="1600"
                           data-easing="easeOutExpo"  >Welcome to Sentinel.<br/>Beautiful WordPress Theme.</div>

                      <div class="caption small-600-black lfr"
                           data-x="0"
                           data-y="203"
                           data-speed="300"
                           data-start="2000"
                           data-easing="easeOutExpo"  >Sentinel is best solution for your business, <br/>Responsive & Flexible, You can present your <br/>business and services properly.</div>

                      <div class="caption randomrotate"
                           data-x="0"
                           data-y="284"
                           data-speed="300"
                           data-start="2400"
                           data-easing="easeOutExpo"  ><a href="" class="sc_button sc_button_round sc_button_medium sc_button_green">Purchase Item</a></div>

                      <div class="caption lfl"
                           data-x="595"
                           data-y="51"
                           data-speed="300"
                           data-start="1200"
                           data-easing="easeOutExpo"  ><img src="../../assets/photos/slider_1_browser.png" alt="browser"/></div>

                      <div class="caption lfl"
                           data-x="476"
                           data-y="194"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  ><img src="../../assets/photos/slider_1_tablet.png" alt="tablet"/></div>

                      <div class="caption lfl"
                           data-x="407"
                           data-y="304"
                           data-speed="300"
                           data-start="400"
                           data-easing="easeOutExpo"  ><img src="../../assets/photos/photos/slider_1_phone.png" alt="phone"/></div>

                  </li>
                  <li data-transition="papercut" data-slotamount="5" data-masterspeed="500" data-delay="9400">

                      <!-- THE MAIN BACKGROUND IMAGE IN THIS FIRST SLIDE -->
                      <img src="../../assets/photos/slider_2_bg.jpg" data-fullwidthcentering="on" alt="background">

                      <!-- THE CAPTIONS/LAYERS IN THIS SLIDE -->
                      <div class="caption medium-700-black lfr"
                           data-x="658"
                           data-y="128"
                           data-speed="300"
                           data-start="400"
                           data-easing="easeOutExpo"  >EVERYTHING YOU NEED <br/>TO BUILD EXCEPTIONAL PROJECT.</div>

                      <div class="caption small-600-black lfr"
                           data-x="658"
                           data-y="203"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  >Sentinel is the best solution for your business, Responsive & <br/>Flexible, You can present your business and services <br/>properly.</div>

                      <div class="caption randomrotate"
                           data-x="658"
                           data-y="284"
                           data-speed="300"
                           data-start="1200"
                           data-easing="easeOutExpo"  ><a href="" class="sc_button sc_button_round sc_button_medium sc_button_green">Purchase Item</a></div>

                  </li>
                  <li data-transition="turnoff" data-slotamount="5" data-masterspeed="300">

                      <!-- THE MAIN BACKGROUND IMAGE IN THIS FIRST SLIDE -->
                      <img src="../../assets/photos/slider_3_bg.jpg" data-fullwidthcentering="on" alt="background">

                      <!-- THE CAPTIONS/LAYERS IN THIS SLIDE -->
                      <div class="caption medium-700-black lfr"
                           data-x="58"
                           data-y="138"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  >Fully Responsive. Retina Display Ready. <br/>Touch Enabled Sliders.</div>

                      <div class="caption small-600-black lfr"
                           data-x="58"
                           data-y="214"
                           data-speed="300"
                           data-start="1200"
                           data-easing="easeOutExpo"  >Sentinel is the best solution for your business, Responsive & Flexible, <br/>You can present your business and services properly.</div>

                      <div class="caption randomrotate"
                           data-x="58"
                           data-y="275"
                           data-speed="300"
                           data-start="1600"
                           data-easing="easeOutExpo"  ><a href="" class="sc_button sc_button_round sc_button_medium sc_button_green">Explore More Features</a></div>

                      <div class="caption lfb"
                           data-x="693"
                           data-y="30"
                           data-speed="300"
                           data-start="400"
                           data-easing="easeOutExpo"  ><img src="../../assets/photos/slider_3_tablet.png" alt="tablet"/></div>

                  </li>
              </ul>
          </div>
      </div>
  </div>	
  <div class="main_content_container cwidth_container">
      <div class="main_content_wrapper cwidth_wrapper">
          <div class="main_content cwidth">
              <div class="col-1-1">
                  <div class="col">
                      <div class="grid">
                          <div class="col-content">
                              <div class="col">
                                  <div class="page-1_container main_column">
                                      <div class="page-1_wrapper">
                                          <div class="page-1 content_cols_eq">
                                              <div class="post_content">
                                                  <!-- <?= $this->load->view('beranda/view_grid_satu'); ?>
                                                  <?= $this->load->view('beranda/view_grid_dua'); ?>
                                                  <?= $this->load->view('beranda/view_grid_tiga'); ?> -->
                                                  <app-grid></app-grid>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>					
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>