<div class="grid">
  <div class="col-1-4">
      <div class="col">
          <div class="text_icon_expand_item_wrapper">
              <a class="text_icon_expand_item" href="">
                  <span class="text_icon_expand_item_inner">
                      <span class="text_icon_expand_image_wrapper">
                          <img class="text_icon_expand_image" src="../../assets/photos/tie_1.jpg" alt="">
                      </span>
                      <span class="tie_icon_wrapper">
                          <span class="tie_icon icon-desktop"></span>
                      </span>
                      <span class="tie_content">
                          <span class="tie_text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</span>
                          <span class="sc_button sc_button_round sc_button_small sc_button_green">Show Me Details</span>
                      </span>

                      <span class="tie_title">Pelatihan</span>
                  </span>
              </a>
          </div>
      </div>
  </div>
  <div class="col-1-4">
      <div class="col">
          <div class="text_icon_expand_item_wrapper">
              <a class="text_icon_expand_item" href="">
                  <span class="text_icon_expand_item_inner">
                      <span class="text_icon_expand_image_wrapper">
                          <img class="text_icon_expand_image" src="../../assets/photos/tie_1.jpg" alt="">
                      </span>
                      <span class="tie_icon_wrapper">
                          <span class="tie_icon icon-cloud"></span>
                      </span>
                      <span class="tie_content">
                          <span class="tie_text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</span>
                          <span class="sc_button sc_button_round sc_button_small sc_button_green">Show Me Details</span>
                      </span>

                      <span class="tie_title">Pendidikan dengan Gelar</span>
                  </span>
              </a>
          </div>
      </div>
  </div>
  <div class="col-1-4">
      <div class="col">
          <div class="text_icon_expand_item_wrapper">
              <a class="text_icon_expand_item" href="">
                  <span class="text_icon_expand_item_inner">
                      <span class="text_icon_expand_image_wrapper">
                          <img class="text_icon_expand_image" src="../../assets/photos/tie_1.jpg" alt="">
                      </span>
                      <span class="tie_icon_wrapper">
                          <span class="tie_icon icon-cogs"></span>
                      </span>
                      <span class="tie_content">
                          <span class="tie_text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</span>
                          <span class="sc_button sc_button_round sc_button_small sc_button_green">Show Me Details</span>
                      </span>

                      <span class="tie_title">Pelatihan Luar Negeri</span>
                  </span>
              </a>
          </div>
      </div>
  </div>
  <div class="col-1-4">
      <div class="col">
          <div class="text_icon_expand_item_wrapper">
              <a class="text_icon_expand_item" href="">
                  <span class="text_icon_expand_item_inner">
                      <span class="text_icon_expand_image_wrapper">
                          <img class="text_icon_expand_image" src="../../assets/photos/tie_1.jpg" alt="">
                      </span>
                      <span class="tie_icon_wrapper">
                          <span class="tie_icon icon-star"></span>
                      </span>
                      <span class="tie_content">
                          <span class="tie_text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</span>
                          <span class="sc_button sc_button_round sc_button_small sc_button_green">Show Me Details</span>
                      </span>
                      <span class="tie_title">Assesmen</span>
                  </span>
              </a>
          </div>
      </div>
  </div>
</div>
<div class="grid">
  <div class="col-1-1">
      <div class="col">
          <h3>Recent works</h3>
      </div>
  </div>
</div>
<div class="grid">
  <div class="col-1-1">
      <div class="col">
          <div class="recent_posts_slider_wrapper clearfix">
              <div class="clearfix rps_controls">
                  <a href="" class="btn_prev">Prev</a>
                  <a href="" class="btn_next">Next</a>
              </div>
              <ul class="recent_posts_slider clearfix" data-num-columns="4" data-image-width="280">
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_1.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Dolor sit amet consectetur.</a>
                              </h3>
                              <div class="rps_date">April 11, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_2.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Adipisicing elit sed.</a>
                              </h3>
                              <div class="rps_date">April 10, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_3.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Do eiusmod tempor.</a>
                              </h3>
                              <div class="rps_date">April 9, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_4.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Incididunt ut labore.</a>
                              </h3>
                              <div class="rps_date">April 8, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_1.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Dolor sit amet consectetur.</a>
                              </h3>
                              <div class="rps_date">April 11, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_2.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Adipisicing elit sed.</a>
                              </h3>
                              <div class="rps_date">April 10, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_3.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Do eiusmod tempor.</a>
                              </h3>
                              <div class="rps_date">April 9, 2013</div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="rps_slide">
                          <div class="rps_image_wrapper">
                              <img src="../../assets/photos/rps_4_4.jpg" alt="" class="rps_image">
                              <div class="rps_image_hover">
                                  <div class="rps_image_controls clearfix">
                                      <a href="single-portfolio.html" class="rps_image_link"></a>
                                      <a class="rps_image_zoom" data-effect="mfp-zoom-in" href="../../assets/photos/office_two@2x.jpg"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="rps_content">
                              <div class="rps_like_wrapper">
                                  <div class="rps_like_icon icon-heart"></div>
                                  <div class="rps_like_number">15</div>
                              </div>
                              <h3 class="rps_title">
                                  <a href="">Incididunt ut labore.</a>
                              </h3>
                              <div class="rps_date">April 8, 2013</div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div><!-- END recent_posts_slider_wrapper -->

      </div>
  </div>
</div>
<div class="grid">
  <div class="col-1-2">
      <div class="col">
          <h3>Kegiatan Pusdiklat</h3>
          <div class="recent_posts_list">
              <div class="rpl_post">
                  <div class="blog-post-1">
                      <div class="grid">

                          <div class="col-blog-post-left">
                              <div class="col">
                                  <div class="post_meta_left">
                                      <div class="post_meta_left_date_wrapper">
                                          <div class="post_meta_left_date">
                                              <div class="date_box">14</div>
                                          </div>
                                          <div class="date_month">APR</div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-blog-post-right">
                              <div class="col">
                                  <div class="post_header">
                                      <h2 class="post_title">
                                          <a href="single.html">This is a Standard Post</a>
                                      </h2>
                                  </div>
                                  <div class="post_meta">
                                      <span class="post_meta_item post_meta_comment_number">5 Comments</span>
                                  </div>
                                  <div class="post_content">
                                      <p>Voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas. <a class="read_more_link" href="">Read more</a></p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="rpl_post">
                  <div class="blog-post-1">
                      <div class="grid">

                          <div class="col-blog-post-left">
                              <div class="col">
                                  <div class="post_meta_left">
                                      <div class="post_meta_left_date_wrapper">
                                          <div class="post_meta_left_date">
                                              <div class="date_box">11</div>
                                          </div>
                                          <div class="date_month">APR</div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-blog-post-right">
                              <div class="col">
                                  <div class="post_header">
                                      <h2 class="post_title">
                                          <a href="single.html">Post with Slider</a>
                                      </h2>
                                  </div>
                                  <div class="post_meta">
                                      <span class="post_meta_item post_meta_comment_number">10 Comments</span>
                                  </div>
                                  <div class="post_content">
                                      <p>Accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia sit aspernatur. <a class="read_more_link" href="">Read more</a></p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-1-4">
      <div class="col">
          <h3>More about us</h3>
          <div class="accordeon-2">
              <div class="tb_accordeon_container">
                  <div class="tb_accordeon_wrapper">
                      <div class="tb_accordeon">
                          <div class="tb_accordeon_item">
                              <div class="tb_accordeon_item_post_title_wrapper">
                                  <div class="tb_accordeon_item_arrows"></div>
                                  <h3 class="tb_accordeon_item_title">Who we are?</h3>
                                  <div class="clear"></div>
                              </div>
                              <div class="tb_accordeon_item_content_wrapper" style="display: block; height: 0px;">
                                  <div class="tb_accordeon_item_content">
                                      <p>	
                                          Voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="tb_accordeon_item tb_accordeon_item_open">
                              <div class="tb_accordeon_item_post_title_wrapper">
                                  <div class="tb_accordeon_item_arrows"></div>
                                  <h3 class="tb_accordeon_item_title">What we do?</h3>
                                  <div class="clear"></div>
                              </div>
                              <div class="tb_accordeon_item_content_wrapper" style="display: block; height: 0px;">
                                  <div class="tb_accordeon_item_content">
                                      <p>	
                                          Voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="tb_accordeon_item">
                              <div class="tb_accordeon_item_post_title_wrapper">
                                  <div class="tb_accordeon_item_arrows"></div>
                                  <h3 class="tb_accordeon_item_title">Where we do it?</h3>
                                  <div class="clear"></div>
                              </div>
                              <div class="tb_accordeon_item_content_wrapper" style="display: block; height: 0px;">
                                  <div class="tb_accordeon_item_content">
                                      <p>	
                                          Voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae vitae dicta sunt.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-1-4">
      <div class="col">
          <h3>Testimonials</h3>
          <div class="testimonial-2">
              <div class="testimonial_content">
                  <div class="testimonial_content_inner">
                      <p>
                          Soluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. veritatis et quasi architecto beatae.
                      </p>
                  </div>
              </div>
              <div class="testimonial_author clearfix">
                  <img class="testimonial_photo" src="../../assets/photos/page_shortcodes_robert.jpg" alt="">
                  <h3 class="testimonial_name">Robert Green</h3>
                  <div class="testimonial_position">Businessman</div>
              </div>
          </div>
      </div>
  </div>
</div>